DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/pdf_search
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@localhost:5433/pdf_search
OPENAI_API_KEY=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
