DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/pdf_search
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@localhost:5433/pdf_search
OPENAI_API_KEY=foo
COHERE_API_KEY=bar
